<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <title>Biodata</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="js/angularjs.min.js"></script>
  <script src="js/controller.js"></script>
  <script src="js/ngStorage.min.js"></script>

</head>
<body class="bg" style="background:#3f51b5" ng-controller="emailCtrl">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" style="background: white;height: 50px">
        <h3 style="text-align: center">MASTERPASS</h3>  
      </div>
    </div>
    <br>
    <h3 style="text-align: center;color: #cccc06">SEND MAILS TO MERCHANT</h3>

    <br>
    <br>
    
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
       <label class="col-md-2 control-label" style="color: white;">Enter Email</label>
       <div class="form-group" style="width: 350px;margin: 0 auto;">
         
        
        <div class="input-inline input-medium">
          <div class="input-group">
            <span class="input-group-addon">
             <i class="fa fa-user"></i>
           </span>
           <input type="text" ng-model="settings.merchant" class="form-control" placeholder="Enter Email Address" > </div>
         </div>                      
         
       </div>
     </div>
   </div>


   <br>
   <br>

   <div class="row">
    <div class="col-md-offset-3 col-md-6">
     <label class="col-md-2 control-label" style="color: white;">Enter CC</label>
     <div class="form-group" style="width: 350px;margin: 0 auto;">
       
      
      <div class="input-inline input-medium">
        <div class="input-group">
          <span class="input-group-addon">
           <i class="fa fa-user"></i>
         </span>
         <input type="text" class="form-control" placeholder="Enter Carbon copy" //> </div>
       </div>                      
       
     </div>
   </div>
 </div>


 <br>
 <br>

 <div class="row">
  <div class="col-md-offset-3 col-md-6">
   <label class="col-md-2 control-label" style="color: white;">Enter BCC</label>
   <div class="form-group" style="width: 350px;margin: 0 auto;">
     
    
    <div class="input-inline input-medium">
      <div class="input-group">
        <span class="input-group-addon">
         <i class="fa fa-user"></i>
       </span>
       <input type="text" class="form-control" placeholder="Enter Blind carbon copy" //> </div>
     </div>                      
     
   </div>
 </div>
</div>

<br>
<br>



<div style="width: 350px;margin: 0 auto;">
 <button type="submit" ng-click="sendmail(settings)" style="background: #cccc06;color:black;width: 350px;" class="btn green" >Send Mail</button>
</div>


<br>

<div style="width: 350px;margin: 0 auto;">
 <a type="submit" href="register.html" style="background: #cccc06;color:black;width: 350px;" class="btn green" >Home</a>
</div>


</div>


<br>





</body>    
</html>
