  <!DOCTYPE html>
  <html lang="en" ng-app="myApp">
  <head>
    <title>Biodata</title>
    <!-- New !-->

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Metronic Admin Theme #2 | Form Layouts</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #2 for form layouts" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="../assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="../assets/layouts/layout2/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/layouts/layout2/css/themes/blue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="../assets/layouts/layout2/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" /> </head>



    <!--New !-->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/angularjs.min.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/ngStorage.min.js"></script>

  </head>
  <body class="bg" ng-controller="appCtrl" style="background:#3f51b5;color: white">

    <div class="container-fluid">
     <div class="row">
      <div class="col-md-12" style="background: white;height: 50px">
        <img src="img/images.png" style="height:50px;width: 60px">

        <h3 style="text-align: center;color: black;margin-top:-35px">MASTERPASS</h3>
            
      </div>
    </div>
  </div>


  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="portlet box red">
             <br>
             <br>
             <br>
             <div class="portlet-body form">
              <!-- BEGIN FORM-->
              <form action="#">
                <div class="form-body">
                 <h5 style="color:yellow;text-transform: uppercase;"><b>SECTION 1: Company Information</b></h5>
                 <br>

                 <div class="form-group">
                  <label class="control-label">Name of merchant</label>
                  <input type="text" ng-model="settings.merchant" class="form-control" placeholder="Enter Name of Merchant or Company" >
                </div>
                <div class="form-group">
                  <label class="control-label">Trading Name</label>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <input type="text" ng-model="settings.trade" class="form-control" placeholder="Enter Trading Name and Address"> 
                  </div>
                </div>
                <br>
                <br>
                <h5 style="color:yellow;text-transform: uppercase;"><b>SECTION 2: Contact Information</b></h5>
                <br>
                <div class="form-group">
                  <label class="control-label">Primary contact</label>
                  <div class="input-group">
                    <input type="text" name="fullname" class="form-control" placeholder="Enter Name of Primary Contact"//>
                    <span class="input-group-addon">
                      <i class="fa fa-user"></i>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label">Designation</label>
                  <div class="input-icon">
                    <i class="fa fa-bell-o"></i>
                    <input type="text" ng-model="settings.design" class="form-control" placeholder="Enter Designation" > 
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label">Date of Birth</label>
                  <div class="input-icon right">
                    <i class="fa fa-microphone"></i>
                    <input type="text" class="form-control" placeholder="Enter Date of birth" > 
                  </div>
                </div>
                <br>
                <h5 style="color:yellow;text-transform: uppercase;"><b>SECTION 3: Bank Details</b></h5>
                <br>
                <div class="form-group">
                  <label class="control-label">Account Name</label>
                  <input type="text" name="fullname" class="form-control" placeholder="Enter Account Name"> 
                </div>
                <div class="form-group">
                  <label class="control-label">Account Number</label>
                  <input type="number" name="fullname" class="form-control" placeholder="Enter Account Number"> </div>
                </div>
              </form>
              <!-- END FORM-->
            </div>
          </div>
        </div>



        <div class="col-md-6">
          <div class="portlet box purple">
           <br>
           <br>
           <br>
           <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="#">
              <div class="form-body">

                <div class="form-group" style="margin-top: 55px">
                  <label class="control-label">Business Industry</label>
                  <select class="form-control" name="programme">
                    <option></option>
                    <option>Stores/Supermarket</option>
                    <option>Fuel Stations</option>
                    <option>Church/NGO</option>
                    <option>Restuarants</option>
                    <option>Hospital</option>
                    <option>Fast Food</option>
                    <option>WholeSales</option>
                    <option>Hotels/Guest Houses</option>
                    <option>Airline(Operators)</option>
                    <option>Telecoms</option>
                    <option>Logistics</option>
                    <option>Others</option>
                    <option>Airline(Travel Agencies)</option>

                  </select>

                </div>
                <div class="form-group">
                  <label class="control-label">RC Number</label>
                  <div class="input-group">
                    <input type="text" name="fullname" class="form-control" placeholder="Enter RC Number" //>
                    <span class="input-group-addon">
                      <i class="fa fa-user"></i>
                    </span>
                  </div>
                </div>
                <br>
                <br>
                <div class="form-group" style="margin-top: 55px" >
                  <label class="control-label">Office Telephine</label>
                  <div class="input-group">
                   <input type="number" name="fullname" class="form-control" placeholder="Enter Office Telephone">
                   <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Mobile Number</label>
                <input type="number" name="matric" class="form-control" placeholder="Enter Mobile Number">
              </div>
              <div class="form-group">
                <label class="control-label">Email Address</label>
                <div class="input-icon right">
                  <i class="fa fa-microphone"></i>
                  <input type="email"  class="form-control" placeholder="Enter Email Address" > </div>
                </div>
                <div class="form-group"  style="margin-top: 91px">
                  <label class="control-label">BVN</label>
                  <input type="number" name="fullname" class="form-control" placeholder="Enter BVN " > 
                </div>
                <div class="form-group">
                  <label class="control-label">Account Type</label>
                  <select class="form-control" name="programme">
                    <option></option>

                    <option>Savings Account</option>
                    <option>Current Account</option>

                  </select>

                </div>
              </div>
              <br>
              <br>
             
            </form>
            <!-- END FORM-->
          </div>
        </div>
      </div>
    </div>


          <br>

   <p ng-if="settings.merchant" style="color: yellow;text-align: center">I..........{{settings.merchant}}............hereby certify that all the information provided above is accurate</p>
   <br>
   <p ng-if="settings.design" style="color: yellow;text-align: center">Designation: {{settings.design}}</p>
   <br>
   <p ng-if="settings.design" style="color: yellow;text-align: center">Date: {{date}}</p>




                           </div>
                           <div class="form-actions">
                            <div class="row">
                              <div class="col-md-offset-3 col-md-9">
          <a type="submit" ng-click="submit(settings)" style="background:#cccc06;color:black;width: 300px;margin-left: 8pc;margin-top: 5px" class="btn green" >Submit</a>


                             </div>
                           </div>
                         </div>
                         <br>
                         <br>
                       </div>
                     </div>
                   </body>    
                   </html>
